@import "variables.css";
@import "todo-list.css";

:root {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --background-color: var(--l-very-light-gray);
  --todo-list-background-color: white;
  --placeholder-text-color: var(--l-dark-grayish-blue);
  --text-color: hsl(235, 19%, 35%);
  --outline-color: var(--l-very-light-grayish-blue);
  --completed-text-color: var(--l-light-grayish-blue);
  --footer-text-color: var(--l-dark-grayish-blue);
  --background-image: url("../images/bg-desktop-light.jpg");

  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(240, 20%, 12%);
  --todo-list-background-color: var(--d-very-dark-desaturated-blue);
  --placeholder-text-color: var(--d-dark-grayish-blue);
  --text-color: var(--d-light-grayish-blue);
  --outline-color: var(--d-darkest-grayish-blue);
  --completed-text-color: var(--d-very-dark-grayish-blue);
  --footer-text-color: var(--d-dark-grayish-blue);
  --background-image: url("../images/bg-desktop-dark.jpg");
}

.container {
  max-width: var(--desktop-width);
  background: var(--background-image) no-repeat top center;
  height: 100%;
  margin: 0 auto;
}

.inner-container {
  width: min(550px, 90%, 90vw);
  margin: 0 auto;
}

header {
  padding: 4rem 0 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title,
.icon {
  color: var(--l-very-light-gray);
}

a.theme-icon:hover {
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.75rem;
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

.help-text {
  text-align: center;
  margin-top: 3rem;
  font-size: 0.8rem;
  color: var(--footer-text-color);
  text-decoration: line-through;
}

/* responsive for mobile */
@media (max-width: 500px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 12px;
  }

  .delete {
    display: grid !important;
  }

  body {
    --background-image: url("../images/bg-mobile-light.jpg");
  }

  body.dark {
    --background-image: url("../images/bg-mobile-dark.jpg");
  }
}
