.todo-list-container {
  box-shadow: 0 25px 25px -5px hsl(0, 0%, 90%);
  z-index: -1000;
}

body.dark .todo-list-container {
  box-shadow: none;
}

.create-todo-container,
li.todo-list-item,
.todo-list-footer {
  width: 100%;
  background-color: var(--todo-list-background-color);
  padding: 0 1rem 0 1rem;
}

.create-todo-container,
li.todo-list-item {
  height: 3.5rem;
}

.create-todo-container,
.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.create-todo-container {
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
}

.create-todo-input {
  border: none;
  color: var(--text-color);
  background-color: var(--todo-list-background-color);
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.create-todo-input:focus {
  outline: none;
}

.create-todo-input::placeholder {
  color: var(--placeholder-text-color);
}

li.todo-list-item:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.todo-list-footer,
.todo-list-container {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.check-container {
  background-color: var(--outline-color);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}

.check {
  background-color: var(--todo-list-background-color);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.check-container,
.check,
.delete {
  display: grid;
  place-items: center;
}

.task:hover,
a:hover,
.delete,
.check-container:hover {
  cursor: pointer;
}

.status-completed div.check,
.status-completed div.check-container,
.check-container:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.status-completed div.task {
  color: var(--completed-text-color);
  text-decoration: line-through;
}

ul.todo-list,
ul.filter-options {
  list-style: none;
}

li.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--outline-color);
}

.task-container {
  width: 100%;
  height: 100%;
}

.todo-list-footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.8rem;
  color: var(--footer-text-color);
}

.todo-list-footer,
.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-options {
  gap: 0.75rem;
}

.filter-option:hover,
.clear-todo-list:hover {
  color: var(--text-color);
}

.enabled {
  color: var(--color-bright-blue);
}

.draggable {
  cursor: move;
  user-select: none;
}
